html, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

.left.dotted-gradient {
  background-image: linear-gradient(to bottom, #b2b2b2 40%, rgba(255, 255, 255, 0) 20%);
  background-position: left;
  background-size: 1px 4px;
  background-repeat: repeat-y;
}
